# Notes

This assignment is devoted to `pandas`. It covers indexing and filtering, and some `groupby` and `join` operations. The assignment roughly corresponds to Week 4 and the beginning of Week 5 of the course.

The main dataset you'll be using is [Titanic](https://www.kaggle.com/c/titanic).

In [1]:
%pylab inline
plt.style.use("bmh")

Populating the interactive namespace from numpy and matplotlib

In [2]:
plt.rcParams["figure.figsize"] = (6,6)

In [3]:
import numpy as np
import pandas as pd

In [4]:
STUDENT = "Samuel Guedj"
ASSIGNMENT = 4
TEST = False

In [ ]:
if TEST:
    import solutions
    total_grade = 0
    MAX_POINTS = 16

# Indexing and filtering

### 1. Fixing age (1 point).

There are several known mistakes in the Titanic dataset.

Namely, [Julia Florence Siegel](https://www.encyclopedia-titanica.org/titanic-survivor/julia-florence-cavendish.html) (Mrs. Tyrell William Cavendish) is mistakenly marked as being 76 years old (the age she actually died, but many years after Titanic).

You must replace age value for her with her actual age at the time (25) and return the dataset. Input is indexed with `PassengerId` and is a concatenation of train and test sets. You must return a copy of the dataframe, and not perform replacement in original dataframe. Structure and indexing must be the same as in input.

In [499]:

tr = pd.read_csv("data/train.csv", index_col="PassengerId")
tt = pd.read_csv("data/test.csv", index_col="PassengerId")
df = pd.concat([tr, tt], sort=False)
df.head()
# df.append(tr)
# df.append(tt)

# print(tr.shape)
# print(tt.shape)
# print(df.shape)

#df.head()
#test.loc[test['Name'].str.contains("Julia Florence Siegel"),'Age'] = 25
#print(test[test['Name'].str.contains("Julia Florence Siegel")]['Age'])
#print(new[new['Name'].str.contains("Julia Florence Siegel")]['Age'])
#print(df[df['PassengerId']==98])
#print(df.shape)
#print(df['Name'])

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [55]:
def fix_age(df):
    """Fix age for Julia Florence Siegel."""
    ret = df.copy()
    ret.loc[ret['Name'].str.contains("Julia Florence Siegel"),'Age'] = 25
    return ret

new = fix_age(test)

In [ ]:
PROBLEM_ID = 1

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, fix_age)

### 2. Embarkment port distribution (1 point).

You must find the value counts for embarkment port (`Embarked` column) for the passengers, who travelled in 3-d class, were male and between 20 and 30 years old (both inclusive). No need to treat missing values separately.

Input is indexed with `PassengerId` and is a concatenation of train and test sets. You must return series, indexed with values from `Embarked`, according to `.value_counts()` method semantics.

In [133]:
#df.head()
#b = df[(df['Age']>=20) & (df['Age']<=30) & (df['Pclass']==3) & (df['Sex']=='male')].groupby("Embarked").size()#value_counts()
a = df[(df['Age']>=20) & (df['Age']<=30) & (df['Pclass']==3) & (df['Sex']=='male')]['Embarked']
s = pd.Series(a.value_counts())
#print(a)
print(s)
#a = pd.Series(df[(df['Age']>=20) & (df['Age']<=30) & (df['Pclass']==3) & (df['Sex']=='male')].groupby("Embarked").size())
#print(a)    
#df[(df>7) | (df<5)]
#s_int_idx[(s_int_idx>7) | (s_int_idx<5)]
#df[df[('Age'>=20) & ('Age'<=30)]]

S    93
C    14
Q     3
Name: Embarked, dtype: int64

In [272]:
def embarked_stats(df):
    """Calculate embarkment port statistics."""
    a = df[(df['Age']>=20) & (df['Age']<=30) & (df['Pclass']==3) & (df['Sex']=='male')]['Embarked']
    s = pd.Series(a.value_counts())
    return s

embarked_stats(df)

S    132
C     21
Q      7
Name: Embarked, dtype: int64

In [ ]:
PROBLEM_ID = 2

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, embarked_stats)

### 3. Fill missing age values (1 point).

Some age values are missing in the Titanic dataset. You need to calculate average age, and fill missing age values in `Age` column.

Input is indexed with `PassengerId` and is a concatenation of train and test sets. Output must be a **new** dataframe with the same structure, but without missing values in `Age` column.

In [179]:
def fix_age(df):
    """Fix missing age values."""
    a = df.copy()
    mean = a['Age'].mean()
    a.loc[a['Age'].isna(),'Age'] = mean
    return a
    
a = fix_age(df)

#print(type(df))
#print(df[df['Age']==29])
print(a[a['Age']==29.69911764705882])
# print(df['Age'].mean())
# print(df['Age'].mean(skipna=False))
# print(df['Age'].mean(skipna=True, numeric_only=True))
#df['Age'].isna()

     PassengerId  Survived  Pclass                                      Name  \
5              6         0       3                          Moran, Mr. James
17            18         1       2              Williams, Mr. Charles Eugene
19            20         1       3                   Masselmani, Mrs. Fatima
26            27         0       3                   Emir, Mr. Farred Chehab
28            29         1       3             O'Dwyer, Miss. Ellen "Nellie"
..           ...       ...     ...                                       ...
859          860         0       3                          Razi, Mr. Raihed
863          864         0       3         Sage, Miss. Dorothy Edith "Dolly"
868          869         0       3               van Melkebeke, Mr. Philemon
878          879         0       3                        Laleff, Mr. Kristo
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"

        Sex        Age  SibSp  Parch      Ticket     Fare Cabin Embarked
5      male  29.699118      0      0      330877   8.4583   NaN        Q
17     male  29.699118      0      0      244373  13.0000   NaN        S
19   female  29.699118      0      0        2649   7.2250   NaN        C
26     male  29.699118      0      0        2631   7.2250   NaN        C
28   female  29.699118      0      0      330959   7.8792   NaN        Q
..      ...        ...    ...    ...         ...      ...   ...      ...
859    male  29.699118      0      0        2629   7.2292   NaN        C
863  female  29.699118      8      2    CA. 2343  69.5500   NaN        S
868    male  29.699118      0      0      345777   9.5000   NaN        S
878    male  29.699118      0      0      349217   7.8958   NaN        S
888  female  29.699118      1      2  W./C. 6607  23.4500   NaN        S

[177 rows x 12 columns]

In [ ]:
PROBLEM_ID = 3

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, fix_age)

### 4. Child travelling alone (1 point).

You must find a child (`Age<10`) on-board, who was travelling without siblings or parents and find a name of her nursemaid.

Input is indexed with `PassengerId` and is a concatenation of train and test sets. Output must be a tuple of two strings, collected from `Name` column, with one being child's name and second being nursemaid's name. It's known, that there's only one child like this.

In [392]:

def get_nursemaid(df):
    child = df.loc[(df['Age']<10) & (df['Parch']==0) & (df['SibSp']==0),'Name']
    ticket = df.loc[(df['Age']<10) & (df['Parch']==0) & (df['SibSp']==0),'Ticket']
    nurse = df.loc[(df['Ticket']==ticket.values[0]) & (df['Age']>10),'Name']
    return (child.values[0], nurse.values[0])
 
# one, two = get_nursemaid(df)
# print(one)
# print(two)
# one, two = get_nursemaid2(df)
# print(one)
# print(two)


#df[(df['Age']<10) ]

Emanuel, Miss. Virginia Ethel
Dowdell, Miss. Elizabeth

In [ ]:
PROBLEM_ID = 4

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, get_nursemaid)

### 5. Port with the most children embarked (1 point).

You must find, which port had the largest percentage of children (`Age<10`) embarked, i.e. number of children divided by total number of passengers embarked.

Input is indexed with `PassengerId` and is a concatenation of train and test sets. Output must be a single string with port letter.

In [394]:
def get_port(df):
    """Get port with the most children embarked."""
    ret = df.loc[df['Age']<10, 'Embarked'].value_counts() / df['Embarked'].value_counts()
#     print(ret)
    return ret.idxmax(axis=0)

#print(get_port(df))

# print(df.loc[df['Age']<10, 'Embarked'].value_counts())
# print(df['Embarked'].value_counts())

# print(ret)

S    0.070022
C    0.051852
Q    0.032520
Name: Embarked, dtype: float64
S

In [ ]:
PROBLEM_ID = 5

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, get_port)

### 6. Passengers per ticket (2 points).

Calculate average and maximum number of passengers per ticket.

Input is indexed with `PassengerId` and is a concatenation of train and test sets. Output must be a tuple of two values.

In [321]:
def get_ticket_stats(df):
    """Calculate passenger per ticket statistics."""
    ticket=df.groupby(['Ticket']).count()
    return (ticket.PassengerId.mean(), ticket.PassengerId.max())
#df.head()
#
#df.loc[(df['Ticket']==ticket.values[0])
# df.loc[(df['Ticket']=='110152')]
#df.groupby(['Ticket']).count()#.mean()
# a=df.groupby(['Ticket']).count()
# print()
# print()
#a[a.PassengerId != a.Name]
#print(mean)
print(get_ticket_stats(df))

(1.4090419806243273, 11)

In [ ]:
PROBLEM_ID = 6

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, get_ticket_stats)

### 7. Fare per passenger (3 points).

For each individual ticket, you must calculate fare per person for that ticket, and then calculate averages for each class. Note, that you will need to apply `groupby` and then you may consider using `.first()` of resulting `DataFrameGroupBy`.

Input is indexed with `PassengerId` and is a concatenation of train and test sets. Output must be `Series` with three elements, indexed by class.

In [330]:
def get_fare_per_pass(df):
    """Calculate fare per passenger for different classes."""
    return df.groupby("Ticket").first().groupby("Pclass")['Fare'].mean()
           
#df.head()
#df[df['Ticket']=='7534']

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
138,16.0,NaN,S,9.2167,"Osen, Mr. Olaf Elon",0,139,3,male,0,0.0,7534
876,20.0,NaN,S,9.8458,"Gustafsson, Mr. Alfred Ossian",0,877,3,male,0,0.0,7534

In [ ]:
PROBLEM_ID = 7

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, get_fare_per_pass)

### 8. Fill missing age values (3 points).

In problem 3 you filled missing age values with average for all passengers. Now, you need to fill them according to class and sex. For example, for a female passenger from 2d class, missing age value must be filled with average age of females in 2d class.

In this problem, you may need joins and `.apply()`, although there are several ways to get the same result.

Input is indexed with `PassengerId` and is a concatenation of train and test sets. Output must be a **new** dataframe with the same structure as input, but without missing values in `Age` column.

In [410]:

def fix_age_groupped(df):
    """Fill missing age values."""
    new_df = df.copy()
    new_df.groupby(['Pclass', 'Sex'])['Age'].transform(
        lambda gp: gp.fillna(gp.mean())
    )
    return new_df

#x = fix_age_groupped(df)
#print(x)
#ret = df.copy()
#ret.loc[ret['Name'].str.contains("Julia Florence Siegel"),'Age'] = 25

# a = df.copy()
# mean = a['Age'].mean()
# a.loc[a['Age'].isna(),'Age'] = mean

#df['Age'].groupby(['Sex']).mean()
#df.head()
#df.dtypes
#a = df.groupby(['Pclass','Sex'])
#a.mean()
#a[['Pclass']]
#print(a.loc[(a['Pclass']==1)])
#(df['Pclass']==3)
#df[(df['Pclass']==3)]
#a[(a['Pclass']==3)]
#print(type(a))
#type(df)

In [ ]:
PROBLEM_ID = 8

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, fix_age_groupped)

### 9. Finding couples (3 points).

Based on the code from Lecture 5, build a dataframe of couples. Filter it by survival status: select those couples, in which only one of spouses survived or none of two. Built survival statistics by class, i.e. ratio of couples with partial survival divided by total number of couples in class.

Input is indexed with `PassengerId` and is a concatenation of train and test sets. Output must be `Series` with three elements indexed by values from `Pclass` column.

In [548]:
def find_couples(df):
    """Fill missing age values."""
    family_names = (df
                .replace(re.compile(r'\s+\(.*\)'), '')
                .replace(re.compile("Mrs."), "Mr."))[["Name", "Sex"]]
    family_names = family_names[(family_names.Sex=="female") & family_names.Name.str.contains("Mr.")]
    #family_names.reset_index().set_index("Name")#["PassengerId"]
    d0 = (df.join(family_names
                            .reset_index()
                            .set_index("Name")["PassengerId"],
                            on="Name", rsuffix="_Spouse"))
    d0.rename({"PassengerId":"PassengerId_Spouse"}, axis=1, inplace=True)
    d0 = d0.join(d0[["Name", "Age","Survived"]],
                           on="PassengerId_Spouse", rsuffix="_Spouse")
    d0 = d0[d0.PassengerId_Spouse.notnull()][["Pclass", "Name", "Age", "Name_Spouse", "Age_Spouse","Survived","Survived_Spouse"]]
    d0['Survival_Percentage'] = (d0["Survived"] + d0['Survived_Spouse'])/2
    partial_survival_by_couples = d0.query("Survival_Percentage < 1").groupby("Pclass").count()['Survival_Percentage'] / d0.groupby("Pclass").count()['Survival_Percentage']
    return partial_survival_by_couples


#print(find_couples2(df))
a = find_couples(df)
#a.query("Survival_Percentage < 1").groupby("Pclass")['Survival_Percentage'].count()

# a.reset_index().set_index("Name")
print(a)

#df.head()
#df
#df['Name'].str.extractall('(.*Mr. Owen Harris.*)')
#df['Name'].str.extractall(r'(\s+\(.*\))')

Pclass
1    0.470588
2    0.909091
3    1.000000
Name: Survival_Percentage, dtype: float64

In [ ]:
PROBLEM_ID = 8

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, find_couples)